<div *ngIf="(spinnerService.isLoading | async) === false">
	<app-breadcrumb
		[items]="[{ text: 'Categorias', link: '/categories' }, { text: pageTitle }]"
	></app-breadcrumb>

	<page-header
		page-name="Formulário"
		[page-title]="pageTitle"
		button-class="btn-primary"
		button-link="/categories"
		button-text="Voltar"
	></page-header>

	<div class="card">
		<div class="card-header">Informações sobre a categoria</div>
		<div class="card-body">
			<form [formGroup]="resourceForm" (submit)="submitForm()">
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="name">Nome</label>
						<input
							type="text"
							class="form-control"
							id="name"
							formControlName="name"
							required
						/>
						<div class="text-danger" *ngIf="resourceForm.get('name').touched">
							<div *ngIf="resourceForm.get('name').errors?.required">
								Dado obrigatório
							</div>
							<div *ngIf="resourceForm.get('name').errors?.minlength">
								Mínimo 3 caracteres
							</div>
						</div>
					</div>
					<div class="form-group col-md-8">
						<label for="description">Descrição</label>
						<input
							type="text"
							class="form-control"
							id="description"
							formControlName="description"
						/>
					</div>
				</div>
				<div class="text-right">
					<button
						[disabled]="submittingForm || resourceForm.invalid"
						type="submit"
						class="btn btn-primary"
					>
						Salvar
					</button>
				</div>
				<div class="alert alert-danger" *ngIf="serverErrorMessages">
					<p>Erro do servidor</p>
					<ul>
						<li *ngFor="let error of serverErrorMessages">{{ error }}</li>
					</ul>
				</div>
			</form>
		</div>
	</div>
</div>
